
name: Go Test

on: 
  push:
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build app
      run: go mod init 
    - name: Run tests
      run: go test -v deck_test.go    

